body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 1050px;
    height: 100px;
    background-image: url(img/pattern.png);
    background-size: 35%;
    background-color: #03a9f4e3;
}

.logo-logo{
    height: 90px;
    width: 180px;
    position: relative;
    bottom: -20px;
}

main{
    margin: 5px;
}
 h1{
    width: 61%;
    font-size: 35px;
 }
 .note{
    font-size: 15px;
    position: relative;
    bottom: 22px;
 }
 .scritto-da{
     color: lightslategray;
 }
 .booleaner{color: #03a9f4e3;

 }
 .data{
     color: lightslategray;
     font-size: 10px;
 }
 figure{
     font-size: 12px;
     margin: 0px;
 }
 .back-yellow{
     background-color: yellow;
 }
 ul{
     position: relative;
     top: 15px;
 }
 table{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    position: relative;
    top: 30px;
    font-size: 16px;
 }
 .riga-pr{
    color: white;
    background-color: #03a9f4;
} 
 .riga-1{
    background-color: lightblue;
 }
 .riga-3{
    background-color: lightblue
}
.lorem{
    position: relative;
    top: 60px;
}
